@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Philosopher:wght@700&family=Prata&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.description {
  margin: auto;
  padding: 150px;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
  display: flex;
}

.wrapper img {
  width: 100%;
  display: flex;
}

body {
    font-family: 'Prata', serif;
    text-align: center;
}

h1 {
    font-family: 'Prata', serif;
    text-align: center;
}

h4 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2em;
    text-align: center;
}

h5 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1em;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 10px
}



/*#########*/
/* Navbar */
/*#########*/


/*#########*/
/* Hero */
/*#########*/

