@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Philosopher:wght@700&family=Poppins:wght@600&family=Prata&display=swap');
@import url("//hello.myfonts.net/count/3e200c");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Krona+One&display=swap');



body {
    font-family: 'Prata', serif;
    text-align: center;
    background-color: #eeb462;
}

h1 {
    font-family: 'Prata', serif;
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

h4 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
}

h5 {
    font-family: "Professor", cursive;
    text-align: center;
    font-size: 2em;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: .5em;
    margin: 0 auto;
    padding-bottom: 25px;
}

.footer-img {
  height: 32px;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
}
.footer-img:hover {
  opacity: 70%;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #dc8665;
  color:black;
  text-decoration: none;
  font-size: 12pt;
  margin: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-radius: 3em;
  padding: 13px;
  transition: all 0.7s ease-in-out;
}
.btn:hover {
  background-color: #cd7672;
  color:white;
}

.layout-wrapper {
  padding: 5px 0;
  margin: 0 auto;
}

/*#########*/
/* Navbar */
/*#########*/


/*#########*/
/* Hero */
/*#########*/

.description {
  margin: 0 auto;
  padding-bottom: 80px;
}

.description h4 {
  font-size: 4em;
  margin: 0;
  color: #138086;
}

.description h5 {
  margin: 0;
  color: #138086;
  font-size: 1.5em;
}

.story-text p {
  font-size: 30pt;
  padding: 80px 30px;
  color: #eeb462;
  font-size: 2rem;
  line-height: 2;
}

.story-text {
  padding-bottom: 40px;
  max-width: 768px;
  margin: 0 auto;
}

 .hero-img {
   height: 90vh;
 }

.sun-icon {
  padding-top: 50px;
  padding-bottom: 9px;
}


/*#########*/
/* About Page */
/*#########*/

.bio-container {
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
  display: flex;
  max-width: 768px;
}

.bio {
  width: 100%;
}

.bio h2 {
  padding-bottom: 12px;
}

.bio p {
  padding-bottom: 24px;
}

.btn-wrapper {
  padding-bottom: 30px;
}




/*#########*/
/* Services Page */
/*#########*/

.services-wrapper {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 768px;
}

.services-content {
  display: inline-table;
  padding-bottom: 30px;
}

.services-content h2 {
  margin: 0 auto;
  padding: 12px;
}




/*#########*/
/* Contact Page */
/*#########*/

.contact-section {
  padding: 24px;
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"],
textarea {
  background: #f5d8ae;
  border: none;
  padding: 1rem;
  margin: 0.5rem 0;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus {
  outline: 1px solid #eeb462;
}
textarea {
  resize: none;
}

button[type="submit"] {
  padding: 0.5rem 2rem;
  color: #f5d8ae;
  border: none;
  background-color: #138086;
  border-bottom: 2px solid #cd7672;
  border-radius: 3em;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: background-color ease-in 200ms;
}

button[type="submit"]:hover {
  background-color: #534666;
}

button[type="submit"]:focus {
  outline: 1px solid #534666;
}